*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100vh;
    width: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: #F6F6EE;
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    height: 15vh;
}

/* Style the logo */
#nav h3 {
    margin: 0;
    font-size: 40px;
    color: black;
    padding-left: 207px;
}
#nav #links{
    display: flex;
    gap: 20px;
    padding-right: 20px;
    
}
/* Style the links container */
#links {
    display: flex;
    padding-left: 200px;
}

/* Style the links */
#links a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin-right: 20px;
    position: relative; /* Add this */
}

/* Add an underline to links on hover */
#links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0); /* Initially, set the width to 0 */
    transform-origin: left; /* Start the transform from the left */
    transition: transform 0.2s ease-in-out;
}

#links a:hover::before {
    transform: scaleX(1); /* Expand the width to 100% on hover */
    transform-origin: right; /* Transform from left to right */
}



#header{
    display: flex;
    margin: 25px 25px;

}
#header #headerdes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.div-50{
    width: 50%;
    margin: 0 auto;
}

#headerdes p{
    font-size: 27px;
    margin: 30px 0px;
    width: 50%;
    padding-right: 10px;
}
#headerpic img{
     width: 80%;
     height: auto;
}
#headerdes h1{
    font-size: 80px;
    justify-content: center;
    align-items: center;
    padding-left: 196px;
}
#headerbutton {
    padding: 12px 32px;
    background-color: transparent;
    color: black;
    font-weight: 100;
    border-radius: 100px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid black;
    background-image: linear-gradient(to top, transparent, transparent);
    background-size: 100% 0%;
    background-position: 0% 100%;
    background-repeat: no-repeat;
}

#headerbutton:hover {
    background-image: linear-gradient(to top, black, black);
    background-size: 100% 100%;
    background-position: 0% 0%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    color: white;
}







.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./img1.jpeg');
}
.card[for="c2"] {
    background-image: url('./img2.jpeg');
}
.card[for="c3"] {
    background-image: url('./img3.jpeg');
}
.card[for="c4"] {
    background-image: url('./img4.jpeg');
}












